* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
    
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

body {
    height: 100vh; 
    width: 100vw;
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 1fr 1fr;
}

main {
    grid-area:"main";
    background-color: var(--body-bg-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
}

aside {
    grid-area: aside;
    background-image: url("./assets/read_news.jpg");
    background-size: cover;
    background-position: right center;
}

.logo {
    position: absolute;
    width: 389px;
    height: 94px;
    margin-top: 50px;
    margin-left: 30px;

}

.textContainer {
    position: absolute;
    z-index: 1;
    color: var(--text-color);
    margin-left: 36px;
    margin-top: 236px;
    width: 647px;
    height: 102px;

}

.textContainer h2 {
    font-family: Work Sans, sans-serif;
    font-size: 24px;
    color: var(--title-color);
}

.textContainer strong {
    display: block;
    margin-top: 9px;
    margin-bottom: 9px;
}

.form {
    position: absolute;
    z-index: 1;
    width: 798px;
    height: 84px;
    margin-top: 388px;
    margin-left: 36px;
    color: var(--form-color);
    
}

.form label {
    font-style: bold;
    color: #A8A8A8;
}

form .email {
    background-color: var(--text-color);
    border-left: solid 5px #04D361;
    margin-top: 14px;
    display: flex;
}

#inputEmail {
    width: 748px;
    height: 50px;
    padding-left: 15px;
}

.email img {
    margin: 12px;
}

.sendImage {
    margin: solid 1px red;
    background-color: var(--bg-button-color);
    transition: 1s;
}

.sendImage:hover {
    background-color: var(--title-color); 
    transition: 1s;
}



nav a {
    margin-left: 36px;
    text-decoration: none;
    color:inherit;
    color: var(--bg-button-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-style: bold;
    
}

nav a:hover {
    color: var(--title-color);
    transition: 1s;
}

nav {
    margin-top: 522px;
}

@media (max-width: 500px){
    body {
        height: 100vh; 
        width: 100vw;
        display: grid;
        grid-template-areas: "main";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    
    .logo {
        width: 300px;
        height: 94px;
    }

    .textContainer {
        /* margin-top: 236px; */
        margin-top: 200px;
        width: 300px;
        height: 102px;
    }
    .form {
        width: 300px;
        height: 84px;
        /* margin-top: 388px; */
        margin-top: 440px;
        margin-left: 36px;      
    }

    .textContainer strong {
        /* margin-top: 9px;
        margin-bottom: 9px; */
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #inputEmail {
        width: 300px;
        height: 50px;
        padding-left: 15px;
    }

    nav {
        margin-top: 545px;
    }
}